@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Guitar Eagle Productions<br />
    Post Falls, ID 83854<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@recipieces.com">Support@recipieces.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@recipieces.com">Marketing@recipieces.com</a>
</address>
