@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The only tracking information this site stores is for verifying user access (authentication and authorization) purposes.</p>
