@model RecipiecesWeb.Models.AlertControlViewModel

@if (!string.IsNullOrWhiteSpace(Model.KindOfAlert) && !string.IsNullOrWhiteSpace(Model.Message))
{
    <div id="alertControl" class="alert alert-@Model.KindOfAlert alert-dismissible fade in" role="alert">
        <button type="button" class="close fade in" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>@Model.Title</strong> @Model.Message
    </div>
}