
@model RecipeUIClassLib.Areas.Recipes.Models.RecipeModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-row">
    <div class="form-group col-6">
        <input asp-for="Recipe.Title" class="form-control" autofocus placeholder="Title" />
        <span asp-validation-for="Recipe.Title" class="text-danger"></span>
    </div>
    <div class="form-group col-3">
        <select asp-for="SelectedCategory" asp-items="Model.Categories" class="form-control">
            <option>Select Category</option>
        </select>
        <span asp-validation-for="Recipe.Category" class="text-danger"></span>
    </div>
    <div class="form-group col-3">
        <input asp-for="Recipe.Yield" class="form-control" placeholder="Yield" />
        <span asp-validation-for="Recipe.Yield" class="text-danger"></span>
    </div>
</div>
<div class="form-row">
    <div class="form-group col">
        <textarea asp-for="Keywords" class="form-control" rows="2" placeholder="Keywords"></textarea>
        <span asp-validation-for="Keywords" class="text-danger"></span>
    </div>
</div>
<div class="form-row">     
    <div class="form-group col">
        <input asp-for="Recipe.Description" class="form-control" placeholder="Description" />
        <span asp-validation-for="Recipe.Description" class="text-danger"></span>
    </div>
</div>
<div class="form-row">             
    <div class="form-group col">
        <textarea asp-for="Ingredients" class="form-control" rows="4" placeholder="Enter a list of ingredients"></textarea>
        <span asp-validation-for="Ingredients" class="text-danger"></span>
    </div>
</div>
<div class="form-row">
    <div class="form-group col">
        <textarea asp-for="Preparation" class="form-control" rows="2" placeholder="Enter any preparation steps"></textarea>
        <span asp-validation-for="Preparation" class="text-danger"></span>
    </div>
</div>
<div class="form-row">
    <label for="preptimeHours" class="col-sm-1 col-form-label col-form-label-sm">Prep time</label>
    <div class="form-group input-group input-group-sm col-4">
        <div class="input-group-prepend">
            <label class="input-group-text" for="preptimeHours">Hours</label>
        </div>
        <input id="preptimeHours" asp-for="PrepTimeHours" type="number" class="form-control" placeholder="00"/>
        <div class="input-group-prepend">
            <label class="input-group-text" for="preptimeMinutes">Minutes</label>
        </div>
        <input id="preptimeMinutes" asp-for="PrepTimeMinutes" type="number" class="form-control" placeholder="00"/>
        <div class="input-group-prepend">
            <label class="input-group-text" for="preptimeSeconds">Seconds</label>
        </div>
        <input id="preptimeSeconds" asp-for="PrepTimeSeconds" type="number" class="form-control" placeholder="00"/>
    </div>
</div>
<div class="form-row">
    <div class="form-group col">
        <textarea asp-for="Instructions" class="form-control" rows="5" placeholder="Enter cooking instructions"></textarea>
        <span asp-validation-for="Instructions" class="text-danger"></span>
    </div>
</div>
<div class="form-row">
    <label for="cooktimeHours" class="col-sm-1 col-form-label col-form-label-sm">Cooking time</label>
    <div class="form-group input-group input-group-sm col-4">
        <div class="input-group-prepend">
            <label class="input-group-text" for="cooktimeHours">Hours</label>
        </div>
        <input id="cooktimeHours" asp-for="CookTimeHours" type="number" class="form-control" placeholder="00"/>
        <div class="input-group-prepend">
            <label class="input-group-text" for="cooktimeMinutes">Minutes</label>
        </div>
        <input id="cooktimeMinutes" asp-for="CookTimeMinutes" type="number" class="form-control" placeholder="00"/>
        <div class="input-group-prepend">
            <label class="input-group-text" for="cooktimeSeconds">Seconds</label>
        </div>
        <input id="cooktimeSeconds" asp-for="CookTimeSeconds" type="number" class="form-control" placeholder="00"/>
    </div>
</div>