@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Thank you for confirming your email. The webmaster will review your account for final confirmation.
        You will be notified upon confirmation.
    </p>
</div>
